.body{
    font-family: 'Times New Roman', Times, serif;
}

.ui-message{
    position: absolute;
    width: 940px;
    height: 700px;
    left: 45px;
    top: 20px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ui-text-center{
    text-align: center !important;
    padding-top: 80px;
}

.ui-text-right{
    text-align: right !important;
}

.ui-contact{
    position: absolute;
    width: 880px;
    height: 500px;
    left: 437px;
    top: 100px;
    background: #ffffff;
    z-index: -2;
}

.ui-contact-text{
    margin: 50px 90px 10px 60px;
    
}

.ui-address{
    margin: 50px 15px 10px 20px;
}

.cnt{
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px;
    margin-left: 50px;
    border: 1px solid #000000;
    background: #c4c4c4;
    border-radius: 0px;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
}

.ui-email{
    width: 100%;
    padding: 12px;
    margin-left: 50px;
    border: 1px solid #000000;
    background: #c4c4c4;
    border-radius: 0px 81px 0px 0px;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
}

input[type=submit]{
    border-radius: 20px;
    box-shadow: 0px 4px 5px rgba(54, 159, 255, 0.5);
    background: rgba(54, 159, 255, 0.5);
    border: 3px solid #369fff;
    float: right;
    padding: 12px 20px;
    margin: auto 80px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

.container{
    padding: 20px;
}

.col-75{
    float: center;
    width: 85%;
    margin-top: 60px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 600px){
    .ui-hide-small{
        display: none !important;
    }
    .ui-message{
        width: 80%;
        
    }
      input[type=submit]{
        margin-right: 0.5em;
    }
}

@media (max-width: 992px) and (min-width: 601px){
    .ui-hide-medium{
        display: none !important;
    }
    .ui-message{
        width: 90%;
    }
    input[type=submit]{
        margin-right: 3em;
    }
}

@media (min-width: 993px){
    .ui-hide-large{
        display: none !important;
    }
}